@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  @apply w-full bg-gradient-to-b from-light-200 to-light-400 text-dark-100 bg-cover bg-fixed;
}

html.dark {
  @apply bg-gradient-to-t from-dark-200 to-dark-400 text-light-100;
}

a {
  @apply font-semibold text-primary-400 hover:text-primary-500;
  text-decoration: inherit;
}

h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply text-3xl font-bold;
}
h3 {
  @apply text-2xl font-bold;
}
h4 {
  @apply text-lg font-bold;
}


.card {
  @apply flex px-2 py-2 bg-light-200 dark:bg-dark-600 rounded-lg shadow-lg;
}
.card.large {
  @apply px-6 py-4;
}

.button {
  @apply inline-flex items-center justify-center px-3 py-2 font-semibold whitespace-nowrap rounded-lg text-dark-100 hover:text-dark-500 dark:text-light-100 dark:hover:text-light-200 transition cursor-pointer;
}
.button.primary {
  @apply bg-primary-500 hover:bg-primary-600 active:bg-primary-700 text-light-100 hover:text-light-200;
}
.button.secondary {
  @apply border-2 border-primary-700 hover:border-primary-700;
}
.button.destructive {
  @apply border-2 border-red-500 hover:border-red-600;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1bfcf;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #908e9a;
}

.mapPopup .leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: #eae9fe;
}